<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mahdi.mrt.xxxmxkxkxlxl">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="@android:icon">
        <activity
            android:name="com.mahdi.mrt.xxxmxkxkxlxl.Interfaces.LoginActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mahdi.mrt.xxxmxkxkxlxl.Interfaces.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
        </activity>
        <activity
            android:name="com.mahdi.mrt.xxxmxkxkxlxl.Interfaces.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mahdi.mrt.xxxmxkxkxlxl.Interfaces.ForgotPassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mahdi.mrt.xxxmxkxkxlxl.Interfaces.PaypalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mahdi.mrt.xxxmxkxkxlxl.Interfaces.CardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mahdi.mrt.xxxmxkxkxlxl.Interfaces.ThanksActivity"
            android:label="@string/title_activity_thanks"
            android:parentActivityName="com.mahdi.mrt.xxxmxkxkxlxl.Interfaces.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mahdi.mrt.xxxmxkxkxlxl.Interfaces.MainActivity" />
        </activity>
        <activity
            android:name="com.mahdi.mrt.xxxmxkxkxlxl.Interfaces.TrackOrderActivity"
            android:label="@string/title_activity_track_order"
            android:parentActivityName="com.mahdi.mrt.xxxmxkxkxlxl.Interfaces.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mahdi.mrt.xxxmxkxkxlxl.Interfaces.MainActivity" />
        </activity>
        <activity
            android:name="com.mahdi.mrt.xxxmxkxkxlxl.Interfaces.DealActivity"
            android:label="@string/title_activity_deal"
            android:parentActivityName="com.mahdi.mrt.xxxmxkxkxlxl.Interfaces.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mahdi.mrt.xxxmxkxkxlxl.Interfaces.MainActivity" />
        </activity>
    </application>

</manifest>